# Python files
**/__pycache__
.idea
.venv

# Data directories
/data
TrajectoryExposure/tests/data/gis
TrajectoryExposure/tests/data/trajectories

# Cache
.cache
/archived/
/analysis/figure_data/
/batch_output/
/figures/
/output/
