# Python files
**/__pycache__/
**/*.py[cod]        # compiled .pyc / .pyo / .pyd files
.venv/

# IDEs
.idea/
.vscode/

# Data directories
/data/
tests/synthetic_data/

# Cache
.cache/

# Project-specific outputs
/archived/
/analysis/
/batch_output/
/figures/
/output/
